hardware/*
!hardware/build/
hardware/build/*
!hardware/build/.gitkeep
!hardware/bd/
!hardware/export/
!hardware/constraint/
!hardware/flight-controller.tcl

software/*
!software/flight_controller_sw/
software/flight_controller_sw/*
!software/flight_controller_sw/src/

Packages